<div class="row top-padding app_guide">
	<div class="devise-wrap shadow">
		<h3><span class="theatre">Theatre</span>Tonight App Guide</h3>
		<hr>
		<h4><i class="fa fa-ticket"></i>What is <span class="theatre">Theatre</span>Tonight?</h4>
		<p>TheatreTonight is an e-commerce site specializing in same-day theatre tickets. This app aims to provide discounted same-day theatre tickets whie taking away the hassle to line up at the box office to make a purchase.</p>

		<h4><i class="fa fa-ticket"></i>What makes this app different?</h4>
		<p>Ticket information is updated realtime. When a user adds a ticket to their cart, the status of the ticket will change to an "on hold" status, allowing the user to hold on to the ticket for 10 minutes. Once we see that a user's cart has been inactive for 10 minutes, their cart will be emptied, changing the ticket status to "available" so that other users can purchase it.</p>

		<h4><i class="fa fa-ticket"></i>Easy payments with Stripe</h4>
		<p>Making payments has never been so easy. Simply make payments with your credit card through <%= link_to "Stripe", "https://stripe.com/" %> for fast and secure transactions.</p>

		<h4><i class="fa fa-ticket"></i>Some remarks</h4>
		<p>Upon demoing TheatreTonight, we have prepared a guest account for use to access full functionality of this app.</p>
	</div>
</div>