<!DOCTYPE html>
<html>
<head>
  <title>TheatreTonight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.0.0/css/ink.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script type="text/javascript" src="http://cdn.ink.sapo.pt/3.0.0/js/ink-all.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="ink-navigation">
    <ul class="push-right custom-nav">
        <li><a href="#">TheatreTonight</a></li>
        <li><a href="#">Post archive</a></li>
    </ul>
    <ul class="menu horizontal red">
        <li><a href="#">TheatreTonight</a></li>
        <li><a href="#">Post archive</a></li>
    </ul>
</nav>

<%= yield %>

</body>
</html>
